.slider {
    display: flex;
    justify-content: center;
    .logos-container {
        position: absolute;
        top: 60vh;
        background-color: rgba(252, 252, 252, 0.904);
        height: 20vh;
        display: flex;
        width: 100vw;
        overflow-x: scroll;
        img {
            
            width: 100px;
            height: 100%;
            object-fit: contain;
            margin: 0 45px;
            filter: grayscale(1);
            transition: all 0.3s;
        }
    }
}

.logos-container::-webkit-scrollbar {
    background-color: rgba(226, 226, 226, 0.657);
    height: 10px;
}
.logos-container::-webkit-scrollbar-thumb {
    background-color: rgba(8, 8, 8, 0.548);
    border-radius: 9px
}
